<!DOCTYPE html>
<html lang="en" ng-app="pw">
  <head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
  </head>
  <body ng-controller="PwCtrl">
    <div id="title">Password Management</div>
    <div ng-show="credentialsList" id="credentials">
      <div id="column-headers">
        <div class="cell">Identity</div>
        <div class="cell">Secret</div>
        <div class="cell">Note</div>
      </div>
      <form name="form" id="credentials-list">
        <div ng-show="shouldShow(creds)" ng-form="form_{{$index}}" class="credential-set" ng-repeat="creds in credentialsList">

          <div class="cell">
            <input type="text" ng-disabled="creds.removed" class="identity-field data-field" ng-model="creds.identity" ng-show="creds.editId" tabindex="{{$index * 3 + 1}}">
            <span class="identity-field data-field disabled-span" ng-dblclick="editId(creds)" ng-show="!creds.editId">Double click to edit</span>
            <button class="copy-btn btn" ng-disabled="creds.removed" data-clipboard-text="{{creds.identity}}"><img class="btn-img" src="ic_content_copy_black_48px.svg"></button>
          </div>

          <div class="cell">
            <input type="text" ng-disabled="creds.removed" class="secret-field data-field" ng-model="creds.secret" ng-show="creds.editSecret" tabindex="{{$index * 3 + 2}}">
            <span class="secret-field data-field disabled-span" ng-dblclick="editSecret(creds)" ng-show="!creds.editSecret">Double click to edit</span>
            <button class="copy-btn btn" ng-disabled="creds.removed" data-clipboard-text="{{creds.secret}}"><img class="btn-img" src="ic_content_copy_black_48px.svg"></button>
          </div>

          <div class="cell">
            <input type="text" ng-disabled="creds.removed" class="note-field data-field" ng-model="creds.note" tabindex="{{$index * 3 + 3}}">
            <button class="remove-btn btn" ng-disabled="creds.removed" ng-click="remove($index)"><img class="btn-img" src="ic_delete_black_48px.svg"></button>
            <button class="undo-btn btn" ng-disabled="!creds.removed && form.form_{{$index}}.$pristine && !creds.editId && !creds.editSecret" ng-click="reset($index)"><img class="btn-img" src="ic_undo_black_48px.svg"></button>
          </div>

          <div class="strikethrough" ng-show="creds.removed"><div></div></div>
        </div>
      </form>
      <div>
        <input id="search-box" class="data-field" type="text" name="filter" ng-model="filter" placeholder="Search...">
        <button id="add-new-btn" class="btn" ng-click="addNew()"><img class="btn-img" src="ic_add_white_48px.svg"></a>
      </div>
    </div>
    <div id="controls">
      <div id="unsaved-changes" ng-show="unsavedChanges">You have unsaved changes</div>
      <div ng-show="saving">Saving</div>
      <div ng-show="notification && notification.length > 0" ng-bind="notification"/></div>
      <div ng-show="!credentialsList">
        <form ng-submit="loadData()">
          <label>Username: <input type="text" class="data-field" name="id" ng-model="id" placeholder="identity"></label>
          <label>Password: <input type="password" class="data-field" name="password" ng-model="password" placeholder="master password"></label>
          <input type="submit" class="hidden" />
        </form>
      </div>
      <div id="buttons">
        <button class="main-btn" id="load-btn" ng-show="!credentialsList" ng-click="loadData()">Load Data</button>
        <button class="main-btn" id="create-btn" ng-show="!credentialsList" ng-click="create()">Create</button>
        <button class="main-btn" id="save-btn" ng-disabled="!unsavedChanges" ng-show="credentialsList" ng-click="save()">Save</button>
      </div>
    </div>
    <script type="text/javascript">
      var clipboard = new Clipboard('.copy-btn');
      var app = angular.module('pw', []);
      app.controller('PwCtrl', function($scope, $http) {
        $scope.unsavedChanges = false;

        $scope.loadData = function () {
          $http.post('/pw/open', {
            password: $scope.password,
            id: $scope.id
          }).then(function(response) {
            $scope.credentialsList = angular.copy(response.data);
            $scope.canonicalData = angular.copy(response.data);
          }, function(response) {
            $scope.notify(response.data.error);
          });
        };

        $scope.create = function () {
          $http.post('/pw/create', {
            password: $scope.password,
            id: $scope.id
          }).then(function(response) {
            $scope.credentialsList = angular.copy(response.data);
            $scope.canonicalData = angular.copy(response.data);
          }, function(response) {
            $scope.notify(response.data.error);
          });
        };

        $scope.addNew = function () {
          $scope.credentialsList.push({identity: '', secret: '', note: '', editId: true, editSecret: true});
        };

        $scope.save = function () {
          //todo: make sure https is used
          $scope.saving = true;
          s = $scope;
          var toSave = $scope.credentialsList.filter(
              function(cred) { return !cred.removed }).map(
              function(cred) { return {identity: cred.identity, note: cred.note, secret: cred.secret} });
          $http.post('/pw/save', {
            password: $scope.password,
            id: $scope.id,
            data: toSave
          }).then(function(response) {
            $scope.notify('Save successful');
            $scope.saving = false;
            $scope.credentialsList = angular.copy(response.data);
            $scope.canonicalData = angular.copy(response.data);
            $scope.form.$setPristine();
            $scope.unsavedChanges = false;
          }, function(response) {
            $scope.notify(reponse.data.error);
            $scope.saving = false;
          });
        };

        $scope.notify = function(message, duration = 3000) {
          $scope.notification = message;
          setTimeout(function(scope) { return function() { scope.notification = '';scope.$apply() } }($scope), duration);
        };

        clipboard.on('success', function(e) {
          $scope.notify('Copied');
        });

        $scope.$watch(function(){ return $scope.credentialsList }, function(newVal, oldVal) {
          if(!(newVal && oldVal)) return;
          $scope.unsavedChanges = false;
          var longer = newVal.length > $scope.canonicalData.length ? newVal.length : $scope.canonicalData.length;
          for (var i = 0; i < longer; i++) {
            if (angular.equals(newVal[i], $scope.canonicalData[i])) {
              $scope.form['form_'+i].$setPristine();
            } else {
              $scope.unsavedChanges = true;
            }
          }
          if (!$scope.unsavedChanges) $scope.form.$setPristine();
        }, true);

        $scope.shouldShow = function(creds) {
          if ($scope.filter && $scope.filter.length > 0) {
            return creds.identity.toLowerCase().indexOf($scope.filter.toLowerCase()) >= 0 ||
              creds.note.toLowerCase().indexOf($scope.filter.toLowerCase()) >= 0;
          } else {
            return true;
          }
        };

        $scope.reset = function(index) {
          if ($scope.canonicalData[index]) {
            $scope.credentialsList[index] = angular.copy($scope.canonicalData[index]);
          } else {
            $scope.credentialsList[index].identity = '';
            $scope.credentialsList[index].secret = '';
            $scope.credentialsList[index].note = '';
          }
        };

        $scope.remove = function(index) {
          if ($scope.canonicalData[index]) {
            $scope.credentialsList[index].removed = true;
          } else {
            $scope.credentialsList = $scope.credentialsList.slice(0, index).concat($scope.credentialsList.slice(index + 1, $scope.credentialsList.length));
          }
        };

        $scope.editId = function(c) {c.editId = true};

        $scope.editSecret = function(c) {c.editSecret = true};
      });
    </script>
  </body>
</html>
