<!DOCTYPE html>
<html lang="en" ng-app="pw">
  <head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>
  <body ng-controller="PwCtrl">
    <div id="title">Header</div>
    <div ng-class="credentialsList ? '' : 'hide'" id="credentials">
      <div id="column-headers">
        <div>Identity</div>
        <div>Secret</div>
        <div>Note</div>
      </div>
      <form name="form" id="credentials-list">
        <div ng-form="form_{{$index}}" class="credential-set" ng-repeat="creds in credentialsList">
          <div ng-class="creds.removed ? 'removed' : ''"></div>
          <input type="text" class="identity-field data-field" name="identity_{{$index}}" ng-model="creds.identity">
          <input type="text" class="secret-field data-field" name="secret_{{$index}}" ng-model="creds.secret">
          <input type="text" class="note-field data-field" name="note_{{$index}}" ng-model="creds.note">
          <button class="remove-btn" ng-class="creds.removed ? 'disabled' : ''" ng-click="remove($index)">Remove</button>
          <button class="undo-btn" ng-class="creds.removed || form.form_{{$index}}.$dirty ? '' : 'disabled'" ng-click="reset($index)">Undo</button>
        </div>
      </form>
      <button id="add-new-btn" ng-click="addNew()">+</a>
    </div>
    <div id="controls">
      <div id="notification" ng-bind="unsavedChanges ? 'You have unsaved changes' : ''"></div>
      <div ng-show="saving">Saving</div>
      <div ng-class="credentialsList ? 'hide' : ''">
        <label>Username: <input type="text" name="id" ng-model="id" placeholder="identity"></label>
        <label>Password: <input type="password" name="password" ng-model="password" placeholder="master password"></label>
      </div>
      <div id="buttons">
        <button class="main-btn" id="load-btn" ng-class="credentialsList ? 'hide' : ''" ng-click="loadData()">Load Data</button>
        <button class="main-btn" id="create-btn" ng-class="credentialsList ? 'hide' : ''" ng-click="create()">Create</button>
        <button class="main-btn" id="save-btn" ng-class="credentialsList ? '' : 'hide'" ng-click="save()">Save</button>
      </div>
    </div>
    <script type="text/javascript">
      var app = angular.module('pw', []);
      s = 1;
      app.controller('PwCtrl', function($scope, $http) {
        s = $scope;
        $scope.unsavedChanges = false;
        $scope.loadData = function () {
          $scope.password = 'pass';
          $scope.id = 'filename';
          $http.post('/pw/open', {
            password: $scope.password,
            id: $scope.id
          }).success(function(data) {
            $scope.credentialsList = data;
            $scope.canonicalData = angular.copy($scope.credentialsList);
          });
          //todo: handle failure
        };

        $scope.create = function () {
          $http.post('/pw/create', {
            password: $scope.password,
            id: $scope.id
          }).success(function(data) {
            $scope.credentialsList = angular.copy(data);
            $scope.canonicalData = angular.copy(data);
          });
          //todo: handle failure
        };

        $scope.addNew = function () {
          $scope.credentialsList.push({identity: '', secret: '', note: ''});
        };

        $scope.save = function () {
          //todo: make sure https is used
          $scope.saving = true;
          $http.post('/pw/save', {
            password: $scope.password,
            id: $scope.id,
            data: $scope.credentialsList.filter(function(cred) { return !cred.removed })
          }).success(function(data) {
            $scope.saving = false;
            $scope.canonicalData = angular.copy($scope.credentialsList);
            $scope.form.$setPristine();
            $scope.unsavedChanges = false;
          });
          //todo: handle failure
        };

        $scope.$watch(function(){ return $scope.credentialsList}, function(newVal, oldVal) {
          if(!newVal) return;
          if(!oldVal) return;
          $scope.unsavedChanges = false;
          for (var i = 0; i < (newVal.length > $scope.canonicalData.length ? newVal.length : $scope.canonicalData.length); i++) {
            if (angular.equals(newVal[i], $scope.canonicalData[i])) {
              $scope.form['form_'+i].$setPristine();
            } else {
              $scope.unsavedChanges = true;
            }
          }
          if (!$scope.unsavedChanges) $scope.form.$setPristine();
        }, true);

        $scope.reset = function(index) {
          if ($scope.canonicalData[index]) {
            $scope.credentialsList[index].identity = $scope.canonicalData[index].identity;
            $scope.credentialsList[index].secret = $scope.canonicalData[index].secret;
            $scope.credentialsList[index].note = $scope.canonicalData[index].note;
            delete $scope.credentialsList[index].removed;
          } else {
            $scope.credentialsList[index].identity = '';
            $scope.credentialsList[index].secret = '';
            $scope.credentialsList[index].note = '';
          }
        };

        $scope.remove = function(index) {
          $scope.credentialsList[index].removed = true;
        };
      });
    </script>
  </body>
</html>
