#notification {
  color: white;
  float: right;
  padding: 7px;
  margin: 0px 0px;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
}
.failure {
  border-color: #FF0000;
  background-color: #FF6666;
}
.success {
  border-color: #00FF00;
  background-color: #66FF66;
}
.faded {
  opacity: 0.5;
}
.img-responsive {
  height: 20px;
}
::selection {
  color: white;
  background-color: blue;
}
#credentials-list input.ng-dirty {
  background-color: #FFFFAA;
}
#saveStatus{
  margin: 5px 0px;
}
